<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CostManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <CostManager.Properties.Settings>
      <setting name="DataBasePath" serializeAs="String">
        <value />
      </setting>
      <setting name="FrmItemSelectLocX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FrmItemSelectLocY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FrmItemSelectSizeW" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FrmItemSelectSizeH" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FrmEditCostLocX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FrmEditCostLocY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FrmEditCostSizeW" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FrmEditCostSizeH" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FrmMainLocX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FrmMainLocY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FrmMainSizeW" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FrmMainSizeH" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ItemSelectFontSize" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="ProductListFontSize" serializeAs="String">
        <value>9</value>
      </setting>
      <setting name="ItemSelectColChkW" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="ItemSelectColKindW" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="ItemSelectColNameW" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="ProductListColChkW" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="ProductListColKindW" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="ProductListColNameW" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="ProductListColNumW" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="ProductListColCostRateW" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="ProductListColMaterialW" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="ProductListColWorkerlW" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="ProductListColPackageW" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="ProductListColPriceW" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="ProductListColProfitW" serializeAs="String">
        <value>95</value>
      </setting>
      <setting name="DispIDtoList" serializeAs="String">
        <value>True</value>
      </setting>
    </CostManager.Properties.Settings>
  </userSettings>
</configuration>